<div class="container">
    <h1>Eat-Da-Burger!</h1>
    <form action="/" method="post">
        <label for="burgerName">
            Add a burger!
            <input type="text" name="burger_name" id="burgerName">
        </label>
        <button class="btn-secondary" type="submit">Submit</button>
    </form>
</div>