<div class="burger">
    <h1>Tasty Burger</h1>
    <form action="/home" method="post">
        <label for="burgerName">
            Name Your Burger:
            <input type="text" name="burger_name" id="burgerName">
        </label>
        <button type="submit">Submit Burger</button>
    </form>
</div>